obj_dir
obj-pc
obj-zip
.*.swp
.swp
*.o
*.vcd
*_tb
cpudefs.h
legal.txt
build-gas/
build-gcc/
install/
binutils-2.25/
gcc-5.3.0-zip
gcc-6.2.0-zip
newlib-*
bitrev.v
flashcache.v
oldtimer.v
popcount.v
wbcordic.v
zipport.v
ziptrap.v
tags
nlib-debug.txt
map.txt
*dump.txt
*debug.txt
genzipops
bench/asm
doc/gfx/*.json
doc/gfx/*.svg
