legal.txt
.svn
xilinx
obj_dir
obj-pc
obj-zip
*.o
*.a
*.vcd
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
tags
cpudefs.h
legal.txt
bitrev.v
flashcache.v
oldtimer.v
popcount.v
wbcordic.v
zipport.v
ziptrap.v
genzipops
doc/gfx/*.dia
doc/gfx/*.json
doc/gfx/*.svg
