legal.txt
.svn
xilinx
obj_dir
obj-pc
obj-zip
a.out
*.o
*.a
*.vcd
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
stmp
tags
cpudefs.h
legal.txt
build-gas
build-gcc
install
binutils-2.25
gcc-5.3.0-zip
gcc-6.2.0-zip
bitrev.v
flashcache.v
oldtimer.v
popcount.v
wbcordic.v
zipport.v
ziptrap.v
genzipops
doc/gfx/*.dia
doc/gfx/*.json
doc/gfx/*.svg
coverage.dat
coverage_lcov.dat
verilated_cov_2_lcov.py
coverage.lcov.dat
annotated/
/relicense
