*.map
*.txt
*.dmp
z.out

asmtest
cmptest
hellosim
simtest
simuart

asmtest.s
asmtest.S
cachetest.S
cputest.c
haltbusy.S
halttest.S
hellosim.s
helloworld.S
itest.c
itest.s
itst.S
ivec.S
jmpfir.S
lfsr.S
lodsto.S
nullpc.s
pcpc.S
poptest.s
quiktest.S
rtuhalt.S
stack.S
sys.i
testdiv.S
test.sh
tst.c
tst.S
wdt.S
zipdhry.S
zipsys.h
