*.check
*.smt2
*.yslog
*.blif
zipcpu
old
zipcpu_*/
dcache_*/
div
memops_*/
idecode_*/
pipemem_*/
wbdmac
zipcounter
ziptimer
zipjiffies
icontrol_prf
icontrol_cvr
wbwatchdog
busdelay
cpuops
dblfetch_*/
pfcache_prf
pfcache_cvr
prefetch
wbdblpriarb
wbpriarbiter
zipmmu
