*.check
*.smt2
*.yslog
*.blif
zipcpu
old
zipcpu_*/
dcache_*/
div
memops_*/
idecode_*/
pipemem_*/
wbdmac
zipcounter
ziptimer
zipjiffies
icontrol
wbwatchdog
busdelay
cpuops
dblfetch
pfcache
prefetch
wbdblpriarb
wbpriarbiter
zipmmu
